.colored-toast.swal2-icon-success {
    background-color: #a5dc86 !important;
  }

  .colored-toast.swal2-icon-error {
    background-color: #f27474 !important;
  }

  .colored-toast .swal2-title {
    color: white;
  }

  .auth-bg {
    background: linear-gradient(to right, #ba4d63, #e45c0e,#e45c0e) !important;
  }

  .auth-form-bg {
    background: #a44411 !important;
  }
  